.user-icon {
  font-size: 2rem;
  color: #4F9388;
}

.user-icon:hover {
  font-size: 2.1rem;
  color: #1A6054;
  transition: 0.2s;
}

.page-link {
  color: #1A6054;
  border-color: #4F9388;
  border-color: #4F9388;
}

.page-link:hover {
  color: #1A6054;
  border-color: #4F9388;
  border-color: #4F9388;
}

.page-link.active {
  background-color: #4F9388;
  border-color: #4F9388;
  color: #E8A87C;
}

.page-item.active .page-link {
  background-color: #4F9388;
  border-color: #4F9388;
  color: #E8A87C;
}
